@import url("https://fonts.cdnfonts.com/css/poppins");
body {
  margin: 0;
  font-size: 14px; }

.main-container {
  height: 100%;
  color: white;
  font-family: poppins; }
  .main-container a {
    text-decoration: none; }
  .main-container .header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0f1624;
    font-size: 1.2rem;
    padding: 0 2.5rem; }
    .main-container .header .style-none {
      color: white; }
    .main-container .header .profile-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem; }
      .main-container .header .profile-container > img {
        width: 40px;
        height: 100%;
        aspect-ratio: initial; }
    .main-container .header .menu-container {
      display: flex;
      flex-direction: row;
      gap: 1.25rem; }
      .main-container .header .menu-container > span {
        display: flex;
        align-items: center; }
      .main-container .header .menu-container a {
        color: white; }
    .main-container .header .mobile-nav {
      display: none; }
  .main-container .body {
    background-color: #0c1830;
    height: 100%;
    padding: 1.5rem 10% 2.5rem 10%; }
    .main-container .body .section {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 1em; }
      .main-container .body .section .section-title {
        font-size: 1.5rem;
        font-weight: 600; }
      .main-container .body .section .begin-button {
        cursor: pointer;
        color: white;
        background: linear-gradient(-90deg, #13adc7, #6978d1, #945dd6);
        padding: 0.5rem 1.2rem;
        border: 0;
        border-radius: 1.25rem;
        font-size: 0.8rem;
        font-weight: 500;
        font-family: poppins; }
      .main-container .body .section .intro-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .main-container .body .section .intro-container .intro-message {
          height: 35vh;
          width: 60%;
          padding-left: 2rem;
          font-size: 1rem;
          font-weight: 500;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1em; }
          .main-container .body .section .intro-container .intro-message p {
            text-align: justify;
            margin: 0; }
        .main-container .body .section .intro-container .intro-image {
          position: relative;
          width: 40%;
          display: flex;
          flex-direction: row;
          justify-content: end; }
          .main-container .body .section .intro-container .intro-image img {
            z-index: 1;
            position: absolute;
            top: -4rem;
            right: 2rem;
            height: auto;
            width: 80%; }
      .main-container .body .section .grid-container {
        z-index: 2;
        display: flex;
        flex-direction: row;
        gap: 5rem;
        padding: 1rem 0 2rem 2rem;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        flex-wrap: wrap;
        justify-content: center; }
        .main-container .body .section .grid-container .grid {
          min-width: 250px;
          width: 280px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 0;
          border-radius: 2rem 0;
          background-color: #0f1624;
          box-shadow: 0px 5px 15px white;
          padding: 1rem;
          gap: 1rem; }
          .main-container .body .section .grid-container .grid img {
            height: 160px;
            width: 100%; }
          .main-container .body .section .grid-container .grid .card-title {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 600; }
          .main-container .body .section .grid-container .grid .spacer {
            width: 50%;
            height: 5px;
            background: linear-gradient(-90deg, #13adc7, #6978d1, #945dd6); }
          .main-container .body .section .grid-container .grid .project-desc {
            display: flex;
            flex-direction: column;
            gap: 1rem; }
            .main-container .body .section .grid-container .grid .project-desc p {
              text-align: justify;
              margin: 0;
              height: 140px; }

#tech,
#about {
  margin-top: 3.5rem; }

.tech-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem; }

.tech-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 2rem; }
  .tech-container .tech p {
    margin: 0;
    font-weight: 500; }
  .tech-container .tech .bar {
    height: 0.8rem;
    width: 300px;
    border-radius: 10px;
    background-color: #162950; }
    .tech-container .tech .bar .bar-child {
      width: 50%;
      height: 100%;
      border-radius: 10px;
      background-image: linear-gradient(-90deg, #13adc7, #6978d1, #945dd6);
      background-size: 350px 100%;
      transition: width 200ms; }
    .tech-container .tech .bar .seven {
      width: 70%; }
    .tech-container .tech .bar .six {
      width: 60%; }

.other-tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem; }
  .other-tech .text-other {
    font-size: 1rem;
    font-weight: 600;
    margin: 0; }
  .other-tech > div {
    display: flex;
    flex-direction: row;
    gap: 1rem; }

.about-container {
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: space-between; }
  .about-container .timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center; }
  .about-container .li {
    transition: all 200ms ease-in; }
  .about-container .timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100; }
  .about-container .time {
    font-weight: 600; }
  .about-container .status {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 10px solid white;
    position: relative;
    transition: all 200ms ease-in; }
    .about-container .status h4 {
      font-weight: 600;
      text-align: center; }
  .about-container .status::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid white;
    position: absolute;
    top: -18px;
    left: 45%;
    transition: all 200ms ease-in; }
  .about-container .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem; }

@media (min-device-width: 1000px) {
  .about-container .mobile-timeline {
    display: none; } }

@media (max-device-width: 1000px) {
  .main-container .body {
    padding: 1.5rem 5% 2.5rem 5%; }
  .main-container .about-container .timeline {
    display: none; }
  .main-container .about-container .mobile-timeline {
    margin: 20px auto;
    padding: 20px;
    /* Setting the border of top, bottom, left */
    /* Setting the border of top, bottom, right */
    /* Removing the border if it is the first card */
    /* Removing the border if it is the last card  and it's odd */
    /* Removing the border if it is the last card  and it's even */
    /* Information about the timeline */
    /* Title of the card */
    /* Timeline dot  */
    /* text right if the card is even  */
    /* setting dot to the left if the card is odd */
    /* setting dot to the right if the card is odd */ }
    .main-container .about-container .mobile-timeline .card {
      position: relative;
      max-width: 400px; }
    .main-container .about-container .mobile-timeline .card:nth-child(odd) {
      padding: 30px 0 30px 30px; }
    .main-container .about-container .mobile-timeline .card:nth-child(even) {
      padding: 30px 30px 30px 0; }
    .main-container .about-container .mobile-timeline .card::before {
      content: "";
      position: absolute;
      width: 50%;
      border: solid white; }
    .main-container .about-container .mobile-timeline .card:nth-child(odd)::before {
      left: 0px;
      top: -4.5px;
      bottom: -4.5px;
      border-width: 5px 0 5px 5px;
      border-radius: 50px 0 0 50px; }
    .main-container .about-container .mobile-timeline .card:nth-child(even)::before {
      right: 0;
      top: 0;
      bottom: 0;
      border-width: 5px 5px 5px 0;
      border-radius: 0 50px 50px 0; }
    .main-container .about-container .mobile-timeline .card:first-child::before {
      border-top: 0;
      border-top-left-radius: 0; }
    .main-container .about-container .mobile-timeline .card:last-child:nth-child(odd)::before {
      border-bottom: 0;
      border-bottom-left-radius: 0; }
    .main-container .about-container .mobile-timeline .card:last-child:nth-child(even)::before {
      border-bottom: 0;
      border-bottom-right-radius: 0; }
    .main-container .about-container .mobile-timeline .info {
      display: flex;
      flex-direction: column;
      background: #0f1624;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0px 5px 15px white;
      color: #ededed; }
      .main-container .about-container .mobile-timeline .info h3 {
        margin: 0; }
    .main-container .about-container .mobile-timeline .title {
      color: white;
      position: relative; }
    .main-container .about-container .mobile-timeline .title::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: white;
      border-radius: 999px;
      border: 3px solid white; }
    .main-container .about-container .mobile-timeline .card:nth-child(even) > .info > .title {
      text-align: right; }
    .main-container .about-container .mobile-timeline .card:nth-child(odd) > .info > .title::before {
      left: -45px; }
    .main-container .about-container .mobile-timeline .card:nth-child(even) > .info > .title::before {
      right: -45px; } }

@media (max-device-width: 900px) {
  .main-container .body .section .intro-container {
    flex-direction: column-reverse;
    gap: 1.2rem; }
    .main-container .body .section .intro-container .intro-message {
      padding-left: 0;
      width: auto;
      height: 100%; }
    .main-container .body .section .intro-container .intro-image {
      justify-content: center;
      width: auto; }
      .main-container .body .section .intro-container .intro-image img {
        width: 50%;
        position: initial; }
  .main-container .body .section .grid-container {
    padding-left: 0; }
  .main-container .body .tech-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem; }
    .main-container .body .tech-wrapper .other-tech {
      align-items: center; }
    .main-container .body .tech-wrapper .tech-container {
      padding-left: 0; } }

@media (max-device-width: 600px) {
  .main-container .header .menu-container,
  .main-container .header .socials {
    display: none; }
  .main-container .header .mobile-nav {
    display: initial;
    position: relative; }
    .main-container .header .mobile-nav .mobile-menu {
      width: 100%;
      background-color: aliceblue;
      position: absolute;
      width: 100%;
      background-color: aliceblue;
      position: fixed;
      left: 0;
      top: 65px;
      width: 100vw;
      display: none;
      flex-direction: column;
      gap: 1rem;
      justify-content: flex-start;
      padding: 0.5rem 0 0.5rem 1rem; }
      .main-container .header .mobile-nav .mobile-menu p {
        margin: 0;
        font-size: 1rem;
        font-weight: 500; } }
